.NavBar {
    width: 80%;
    margin: 3rem auto;
    position: relative;
}

.NavBar_box {
    display: grid;
    grid-template-columns: 1fr 1.7fr;
    align-items: center;
    gap: 2rem;
}

.NavBar_box_right {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.NavBar_box_right_menu {
    display: flex;
    align-items: center;
    gap: 2rem;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease-in-out;
}

.NavBar_box_right_menu_items_link {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.active_btn {
    color: #f18303;
    border-bottom: 2px solid #f18303;
    padding-bottom: 0.4rem;
}

.NavBar_box_right_connect button {
    background-color: rgba(0, 0, 0, 0.25);
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.1rem;
    color: #f18303;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    transition: all 0.3s ease-in-out;
}

.NavBar_box_right_connect button:hover {
    background-color: rgba(0, 0, 0, 0.35);
}

.NavBar_box_right_open {
    display: none;
    cursor: pointer;
}

/* MOBILE MENU */
.Mobile_menu {
    display: none;
}

.modelBox {
    position: fixed;
    inset: 0 0 0 0;
    background-color: #292F3F;
    z-index: 88888888;
}

@media only screen and (max-width: 35em) {
    .NavBar {
        width: 90%;
        margin: 2rem auto;
    }

    .NavBar_box {
        grid-template-columns: 0.6fr 2fr;
        justify-content: space-between;
    }

    .NavBar_box_right_menu {
        display: none;
    }

    .NavBar_box_right_open {
        display: block;
    }

    .Mobile_menu {
        display: flex;
        flex-direction: column;
        position: fixed;
        z-index: 111111;
        background-color: #292f3f;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        padding: 4rem;
        gap: 2rem;
    }

    .Mobile_menu_items_link {
        color: white;
        font-size: 1.2rem;
        text-decoration: none;
    }

    .Mobile_menu_btn {
        position: absolute;
        top: 2rem;
        right: 2rem;
        cursor: pointer;
    }

    .modelBox {
        position: absolute;
        inset: 0 0 -70% 0;
    }
}