@import url('https://fonts.googleapis.com/css2?family=Playwrite+US+Modern:wght@100..400&display=swap');

body {
    font-family: "Playwrite US Modern", cursive;
    background-color: #292F3F;
    color: #FFFFFF;
}

::-webkit-scrollbar {
    display: none;
}